.abcd {
  display: grid;
  grid-template-columns: 2fr 6fr;
  @media (max-width: 600px) {
    display: block;
  }
}

.tab-content{
  display: flex;
  justify-content: space-around;
}

.tab-content th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tab-content td,
.tab-content th {
  border: 1px solid #ddd;
  padding: 8px;
}

.prestigecopyabcde {
  animation: Gradient 3s ease infinite;
  background: linear-gradient(-90deg, #7a8c57, #eb7900, #7a8c57, #eb7900);
  background-size: 400% 400%;
  border: 1px solid transparent;
  border-radius: 2px;
  border-radius: 3px;
  color: #fff;
  padding:8px;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
